<select (click)="OpenModal()">
    <option *ngFor="let user of userObservable$" value="{{user.id}}"><img src="" width="25" height="25">{{user.name}}</option>
</select>


<!-- The Modal -->
<div #myModal (click)="CloseModal()" id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      
      <table>
        <thead class="modal-header"><b>Modal</b><span #span (click)="CloseModal()" class="close">&times;</span></thead>
        <tbody>
            <tr *ngFor="let user of userObservable$" style="display: flex;">
                <img src='https://picsum.photos/200/200?random="{{user.id}}"' width="50" height="50" style="border-radius: 25px;">
                <div style="padding-left: 4px;">
                    <b>{{user.name}}</b>
                    <p>{{user.address.street+" "+user.address.suite+", "+user.address.city}}</p>
                </div>
            <tr>
        </tbody>
      </table>
    </div>
  
  </div>
<!--<script>
    // Get the modal
//var modal = document.getElementById("myModal");

// Get the button that opens the modal
//var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
//var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
/*btn.onclick = function() {
  modal.style.display = "block";
}*/

// When the user clicks on <span> (x), close the modal
/*span.onclick = function() {
  modal.style.display = "none";
}*/

// When the user clicks anywhere outside of the modal, close it
/*window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}*/
</script>-->