<select (click)="OpenModal()">
    <option *ngFor="let user of userObservable$" value="{{user.id}}"><img src="" width="25" height="25">{{user.name}}</option>
</select>


<!-- The Modal -->
<div #myModal (click)="CloseModal()" id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      
      <table>
        <thead class="modal-header"><b>Modal</b><span #span (click)="CloseModal()" class="close">&times;</span></thead>
        <tbody>
            <tr *ngFor="let user of userObservable$" style="display: flex;">
                <img src='https://picsum.photos/200/200?random="{{user.id}}"' width="50" height="50" style="border-radius: 25px;">
                <div style="padding-left: 4px;">
                    <b>{{user.name}}</b>
                    <p>{{user.address.street+" "+user.address.suite+", "+user.address.city}}</p>
                </div>
            <tr>
        </tbody>
      </table>
    </div>
  
  </div>